{% extends "base.html" %}

{% block content %}
    <h2>Hi.</h2>

    <div class="descrip">
        My name is Kevin London. I work as a Systems Administrator at Light Iron in
        Hollywood and have a number of side projects at any given time. I like 
        hiking, playing guitar, and Vipassana meditation. 
        <br><br>
        Please let me know if I can help make your day better.
    </div>

    <address><br>
        <a href="mailto:kevinlondon@gmail.com">Email<a><br>
        <a href="http://facebook.com/klond">Facebook<a><br>
        <a href="http://news.ycombinator.com/user?id=Kaedon">Hacker News</a><br>
    </address>

    <h6>
        Thanks for visiting.
    </h6>
{% endblock %}
